body{
    margin:0;
    padding:0;
}
.back{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:160vh;
    background-image: url("https://1899854621.github.io/tupian/9CB8A4B3B968003A10585E512322FFB1.png");
    background-size: 100%;
    transition:0.8s;
}
.front{
    position: absolute;
    width:700px;
    height:2000px;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background-position:50% 50%;
    z-index:1;
}
.front:hover{
    box-shadow:0 0 20px rgba(255,255,255,0.5);
}
.front:hover ~.back{
    filter:blur(7px);

}

